.pedido {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; /* Centralizar o conteúdo horizontalmente */
  position: relative; /* Para posicionamento relativo das imagens */
}

.top-left {
  top: 15%;
  left: 10%;
}

.top-right {
  top: 15%;
  right: 10%;
}

.bottom-left {
  bottom: 15%;
  left: 10%;
}

.bottom-right {
  bottom: 15%;
  right: 10%;
}

html, body {
  height: 100%;
  margin: 0%;
  padding: 0%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5195f; /* Cor do fundo */
}

.pedido {
  text-align: center;
  position: relative;
}

/* Resto do seu CSS */


.pedido {
  text-align: center; /* Centralizar o conteúdo horizontalmente */
  position: relative; /* Para posicionamento relativo das imagens */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Use 100% da altura da janela */
  background: #e5195f;
}


.buttons-container {
  display: flex;
  gap: 10px; /* Define o espaçamento entre os botões */
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ccc;
  border: none;
  border-radius: 6px;
}

.img {
  width: 100px; /* Largura das imagens (ajuste conforme necessário) */
  height: 100px; /* Altura das imagens (ajuste conforme necessário) */
  position: absolute; /* Para posicionamento absoluto das imagens */
  margin-top: -50px; /* Ajusta a margem superior para centralizar verticalmente */
  margin-left: -50px; /* Ajusta a margem esquerda para centralizar horizontalmente */
}